#story{
 position: fixed;
 width: 49.8vw;
 left: 25vw;
 height: 75vh;
}
#player{
 position: fixed;
 float: right;
 right: 2px;
 height: 100vh;
 width: 25vw;
}
#storySidebar{
 position: fixed;
 float:left;
 height: 100vh;
 width: 25vw;
}

#storySidebar > .mdl-card__title {
    width:100%;
    text-align: right;
    height: 33.333%;
    background: url('md-backgrounds/JPG/grey.jpg') center / cover;
}

#input{
 position: fixed;
 top:75vh;
 width: 50vw;
 height: 25vh;
 left: 25vw;
}

#fabH{
    position:absolute;
    right:16px;
    top: 32px;
}

#fabNext{
    position:absolute;
    right:16px;
    top: 32px;
}

#stats{
    width:100%;
    padding:0;
}

#storyText{
    font-size: 14pt;
}

#storyTitle{
    font-size: 36pt;
}

#notTitle{
    overflow-y: scroll;
}